th {
  text-align: left;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
body{
  background-image: url("http://www.desktopimages.org/pictures/2015/1104/1/dark-blue-texture-background-309257.jpg");
  color: #f0f0f9;
  font-family: Arial, Helvetica, san-serif;
  margin: 10% 15%;
}
h3{
  border: 1px solid white;
  text-align: center;
}
h5{
  font-style: italic;
}
a{
  font-style: 3;
  color: #f0f0f9;
}
